@import "./resetCss";
@import "./mixins";
@import "./colors";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

// For mozila
*::-moz-selection {
  background-color: $color-red-light;
  color: $color-content;
}
// For chrome
*::selection {
  background-color: $color-red-light;
  color: $color-content;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: $color-body;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


// Loading
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: $color-body;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in;
  span {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 4px dashed $color-red-light;
    animation: effect-loading 3s linear infinite;
    @keyframes effect-loading {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  &.disable {
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
  }
}


// Container styles
.container {
  position: relative;
  width: 1550px;
  max-width: 90%;
  height: 95vh;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  @include section;

  .side_left {
    width: 28%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 25px;
    overflow: hidden;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .profile_image {
      width: 170px;
      height: 170px;
      img {
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }

      @media screen and (max-width: 991px) {
        display: flex;
        align-items: center;
       }
       @media screen and (max-width: 556px) {
        width: 90px;
        height: 90px;
       }
    }
    .profile_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      .profile_title {
        color: $color-content;
        @media screen and (max-width: 1120px) {
          font-size: 26px;
        }
        @media screen and (max-width: 576px) {
          font-size: 18px;
        }
      }
      @media screen and (max-width: 400px) {
        align-items: flex-end;
       }
      .profile_job {
        color: $color-red-light;
        @media screen and (max-width: 576px) {
          font-size: 15px;
        }
        @media screen and (max-width: 400px) {
          font-size: 13px;
         }
      }
    }
    .nav {
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 100px;
      transition: .6s ease-in;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        li {
          text-align: center;
          a {
            display: block;
            padding: 5px 25px;
            color: $color-content;
            font-size: 14px;
            transition: 0.1s ease-in;
            &:hover {
              transform: scale(1.2);
              color: $color-red-light;
            }
          }
        }
      }
      .btn_close_menu {
        display: none;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 8%;
        right: 3%;
        span {
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 2px;
          background-color: $color-content;
          transition: .1s linear;
          border-radius: 20px;
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
        @media screen and (max-width: 991px) {
          display: block;
        }
      }
      @media screen and (max-width: 991px) {
       position: absolute;
       top: -50%;
       left: 0;
       width: 100%;
       opacity: 0;
       visibility: hidden;
       align-items: center;
       z-index: 1000;
       background-color: $color-primary;
       border-radius: 20px;
       padding: 2rem;
       row-gap: 50px;
       box-shadow: 0 20px 15px 3px rgba(0, 0, 0, 0.4);
      }
      &.active {
        visibility: visible;
        opacity: 1;
        top: 0;
      }
    }
    .socials {
      display: flex;
      column-gap: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $color-content;
        border-radius: 50%;
        transition: all 0.2s ease-in;
        .fab {
          font-size: 20px;
          color: $color-primary-2;
          transition: all 0.2s ease-in;
        }
        &:hover {
          background-color: transparent;
          .fab {
            color: $color-red-light;
            transform: scale(1.2);
          }
        }
      }
      
       
    }
    .btn_toggle_menu {
      position: relative;
      width: 40px;
      height: 20px;
      display: none;
      span {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: $color-content;
        transition: .3s ease-in;
        border-radius: 20px;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(50%);
        }
        &:last-child {
          top: 100%;
        }
      }
      @media screen and (max-width: 991px) {
        display: flex;
      }
      @media screen and (max-width: 400px) {
        position: absolute;
        width: 30px;
        top: 2%;
        right: 4%;
       }
    }

    @media screen and (max-width: 991px) {
      width: 100%;
      height: auto;
      flex-direction: row;
      align-items: center;
    }
    
  }
  .side_right {
    width: calc(100% - 29%);
    height: 100%;
    border-radius: 25px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    // About styles
    .about {
      @include rowGapInSection;
      &_desc {
        &_text {
          font-size: 15px;
          line-height: 32px;
          color: $color-gray;
        }
      }
      &_info {
        display: flex;
        justify-content: space-between;
        &_box {
          display: flex;
          align-items: center;
          column-gap: 10px;
          span {
            &:first-child {
              color: $color-red-light;
            }
            color: $color-content;
            font-size: 15px;
            @media screen and (max-width: 576px) {
              font-size: 13px;
            }
          }
          @media screen and (max-width: 400px) {
            flex-wrap: wrap;
            row-gap: 5px;
           }
        }

        @media screen and (max-width: 991px) {
          flex-wrap: wrap;
          row-gap: 20px;
         }
      }
      .btn_resume {
        a {
          padding: 10px;
          background-color: $color-red-light;
          border-radius: 20px;
          color: $color-content;
        }
      }
    }
    // Skills styles
    .skills {
      @include rowGapInSection;
      &_items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .skills_item {
          display: inline-block;
          padding: 10px;
          border-radius: 20px;
          color: $color-gray;
          font-size: 14px;
          border-bottom: 1px solid $color-red-light;
          @media screen and (max-width: 576px) {
            font-size: 13px;
          }
        }
      }
    }

    // Experience styles
    .experience {
      @include rowGapInSection;
      .experience_items {
       @include alignCards;
       align-items: flex-start;
        .experience_item {
          @include styleCardItem(2);
          @media screen and (max-width: 768px) {
            @include styleCardItem(1);
          }
          .experience_title {
           @include alignCards;
            h3 {
              color: $color-content;
            }
            span {
              color: $color-gray;
              font-size: 14px;
            }
          }
          .experience_job {
            color: $color-red-light;
            font-size: 13px;
          }
          .experience_desc {
            color: $color-gray;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
    }

    // Educations styles
    .educations {
      @include rowGapInSection;
     .education_items {
      @include alignCards;
      .education_item {
        @include styleCardItem(2);
        @media screen and (max-width: 768px) {
          @include styleCardItem(1);
        }
        .education_title {
          @include alignCards;
          h3 {
            color: $color-content;
            @media screen and (max-width: 576px) {
              font-size: 17px;
            }
          }
          span {
            color: $color-content;
            font-size: 14px;
          }
        }
        .education_field {
          color: $color-red-light;
          font-size: 13px;
        }
        .education_uni {
          color: $color-gray;
          font-size: 15px;
          line-height: 25px;
        }
      }
     }
    }

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 991px) {
    flex-direction: column;
    row-gap: 30px;
  }
}
